# Copy variable names to .env and keep all values in this example blank.
RUNWAYML_API_SECRET=
ELEVENLABS_API_KEY=
RUNWAY_TALKING_WORKFLOW_ID=
RUNWAY_SEEDANCE2_WORKFLOW_ID=fecc0662-a1e1-4941-b84a-76df0bde1e4f
RUNWAY_SEEDANCE25_WORKFLOW_ID=4af4fdf6-a371-4a73-b02d-fdbf116186d5
RUNWAY_HAILUO3_WORKFLOW_ID=55cd8a57-dd96-4401-b9d0-0ab506130f77
RUNWAY_PRODUCT_CLONE_WORKFLOW_ID=0b9a4bd0-27a2-4ef7-a2d3-ba1d89a8a0d0
RUNWAY_SEEDANCE_ROUTER_CONFIG_ID=ripple-seedance-2
RIPPLE_ACCESS_PASSWORD=
RIPPLE_MAX_UPLOAD_MIB=256
RIPPLE_DATA_DIR=.cutdetect/pipeline_studio
RIPPLE_CACHE_DIR=.cutdetect/cache
