# Copy variable names to .env and keep all values in this example blank.
RUNWAYML_API_SECRET=
RUNWAY_TALKING_WORKFLOW_ID=
RUNWAY_SEEDANCE2_WORKFLOW_ID=de5bdc33-f4ee-48bd-a8b1-f6db7b84c182
RUNWAY_SEEDANCE25_WORKFLOW_ID=4af4fdf6-a371-4a73-b02d-fdbf116186d5
RUNWAY_HAILUO3_WORKFLOW_ID=9172f9ee-e4e9-4a25-92e1-29779d698556
RUNWAY_PRODUCT_CLONE_WORKFLOW_ID=0b9a4bd0-27a2-4ef7-a2d3-ba1d89a8a0d0
RUNWAY_SEEDANCE_ROUTER_CONFIG_ID=ripple-seedance-2
RIPPLE_ACCESS_PASSWORD=
RIPPLE_MAX_UPLOAD_MIB=256
RIPPLE_DATA_DIR=.cutdetect/pipeline_studio
RIPPLE_CACHE_DIR=.cutdetect/cache
